* {
  box-sizing: border-box; }

body {
  background: #f0f0f0;
  color: #444;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif; }

header {
  background: #b0b0b0;
  color: #fff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #b0b0b0, rgba(176, 176, 176, 0.9));
  position: relative;
  background-size: cover; }

.chat-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 80px 20px; }

.chat-section, flexchat-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px 0px; }

.chat-message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #3c3c3c;
  background: #b0b0b0;
  height: 100%;
  max-width: 82%;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(0deg, #dadada, #d0d0d0 60%, #b0b0b0);
  word-break: break-word; }

.chat-section:nth-child(odd), flexchat-message:nth-child(odd) {
  justify-content: flex-end; }
  .chat-section:nth-child(odd) .chat-message, flexchat-message:nth-child(odd) .chat-message {
    color: #fff;
    justify-content: flex-end;
    background: #03A9F4;
    background: linear-gradient(0deg, #76cbed, #51c0ef 60%, #03A9F4); }

.input-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex; }
  .input-bar input[type='text'] {
    width: 100%;
    height: 50px;
    outline: none;
    border: none; }
  .input-bar button {
    border: none;
    background: #58ce5c;
    width: 14%;
    color: white;
    outline: none;
    padding: 0 10px; }
  .input-bar button:focus {
    background: #4CAF50; }
