* { box-sizing: border-box; }
$goodness: #4CAF50;
$goodnessLight: #58ce5c;
$goodnessLighter: #80e583;
$calm: #03A9F4;
$calmLight: #51c0ef;
$calmLighter: #76cbed;

$twitter: #1DA1F2;

$fatigued: #b0b0b0;
$fatiguedLight: #d0d0d0;
$fatiguedLighter: #dadada;

$localMessage: $calm;
$localMessageLight: $calmLight;
$localMessageLighter: $calmLighter;
$remoteMessage: $fatigued;
$remoteMessageLight: $fatiguedLight;
$remoteMessageLighter: $fatiguedLighter;
$headerBar: #b0b0b0;

body {
	background: #f0f0f0;
	color: #444;  
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;  
}

#flx-app {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
}

header {
  background: $headerBar;
  color: #fff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, $headerBar, rgba(176, 176, 176, 0.9));
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;  
} 

.ion-camera {
  font-size: 20px;
}

.chat-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 80px 20px;
}

.chat-section, flexchat-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px 0px;
}

.chat-section, flexchat-message {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 5px 0px;
    flex-direction: column;
}

.chat-message-wrapper {
  min-width: 10%;
  display: flex;
}

.chat-message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #3c3c3c;
	background: $remoteMessage;
  max-width: 82%;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient( 0deg, $remoteMessageLighter, $remoteMessageLight 60%, $remoteMessage );
  word-break: break-word;  
  order: 1;

  img {
    width: 200px;
    height: 200px;
  }
}

.chat-message.image-message {
  overflow: hidden;
  align-items: initial;
}

.chat-section-local-sender {
  align-items: flex-end;

  .chat-message-wrapper {
    justify-content: flex-end;
  }

  .chat-message {
    color: #fff;
    background: $localMessage;
    background: -webkit-linear-gradient(bottom, $localMessageLighter, $localMessageLight 60%, $localMessage);
    background: -o-linear-gradient(bottom, $localMessageLighter, $localMessageLight 60%, $localMessage);
    background: linear-gradient(to top, $localMessageLighter, $localMessageLight 60%, $localMessage);
    order: -1;    
  }
}

.bt-large {
  width: 100px !important;
}

.input-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;

  * {
    flex: 1;
  }
  
  input[type='text'] {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0;
    flex: 8;
    height: 51px;
    font-size: 14px;
    padding-left: 4px;
  }
  
  button, .inputfile + label {
    border: none;
    background: $goodnessLight;
    color: white;
    outline: none;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    height: 51px;
  }
  
  .inputfile + label {
    background: #53c0d8;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 51px;
  }
  
  button:focus {
    background: $goodness;
  }
}

.btn.twitter {
    padding: 12px;
    background: #1DA1F2;
    border: none;
    outline: none;
    color: #fff;
    width: 30%;
    border-radius: 6px;
}

login, .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 2px;
    background: #fafafa;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

.flx-closed {
  display: none;
}

.flx-open {
  display: flex;
}

.flx-login {
  position: fixed;
  top: 25%;
  left: 10%;
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border-radius: 6px;
  box-shadow: 0px 4px 10px #ccc;
  background-color: white;
}

.flx-profile {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;  
  height: 100%;

  .flx-displayName {
  	padding: 10px;
  }

  .flx-photoURL {
    border-radius: 25px;
  }

  .flx-profile-login {
    background: #1DA1F2;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
  }
}

.flx-message-profile {
  display: flex;
  padding-left: 4px;
  padding-top: 4px;

  .flx-avatar {
    border-radius: 25px;
    height: 32px;
  }

}