<div class="chat-container">  
  <flexchat-message 
    class="chat-section animated fadeInUp" 
    ng-repeat="message in $ctrl.messages" message="message"
    id="flexchat-message-{{ message.$id }}">
  </flexchat-message>
</div>

<div class="input-bar">
  <input type="text" ng-model="$ctrl.messageText" ng-keyup="$ctrl.addMessage($event)" />
  <file-upload on-change="$ctrl.onChange">
    <span class="ion-camera"></span>
  </file-upload>

  <button 
    ng-if="$ctrl.authData"
    ng-click="$ctrl.addMessage($event)">
    Send
  </button>

  <button 
    ng-if="!$ctrl.authData"
    ng-click="$ctrl.promptLogin($event)">
    Login
  </button>  

</div>